#htmlbody{
    /*background-image: url("https://res.cloudinary.com/japes930/image/upload/c_scale,w_1366/v1562865864/beautiful_blog_design-1_xromln.png");*/
    /*height: 100vh;*/
    /*width:100vw;*/
    background: url("https://res.cloudinary.com/japes930/image/upload/c_scale,w_1366/v1562865864/beautiful_blog_design-1_xromln.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
div{

}