body {
    font-family: 'Libre Baskerville', serif;
}

.IntroText {
    text-align: center;
}

.jumbotron{
    text-align: justify;
    /*text-justify: distribute-center-last;*/
    width: 80%;
    margin-left: 125px;
    align-content: center;
}

.container {
    width: 100%;
    height: 60%;
    position: center;
    /*left: 50%;*/
    top: 65%;
}
