/*Index Styles*/
#index-body {
    background: url("https://res.cloudinary.com/japes930/image/upload/v1562947596/chalkboard-surfaces_34805-10_xerx3b.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.card{
    width:15rem;
    height:20rem;
}
#row2{
    padding:2rem 0;
}

/*!* The sidebar menu *!*/
/*.sidenav {*/
    /*height: 100vh; !* Full-height: remove this if you want "auto" height *!*/
    /*width: 160px; !* Set the width of the sidebar *!*/
    /*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
    /*z-index: 1; !* Stay on top *!*/
    /*top: 0; !* Stay at the top *!*/
    /*left: 0;*/
    /*background-color: #1C6AFF; !* Black *!*/
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    /*position: relative;*/
/*}*/

/* The navigation menu links */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/*!* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/