<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <title>Home</title>
</head>
<body>
    <!-- Side navigation -->
    <div th:fragment="navbar-base">
    <div class="sidenav" id="side-navbar">

        <a href="#">Home</a>
        <a href="#">About Bootcamp</a>
        <a href="#">Authors</a>


        <p>&copy; 2019 Copyright </p>
    </div>
    </div>



</body>
</html>