<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/entry1Decorate.css">

    <title>Entry 1</title>
</head>
<body>
<!--Nav Bar-->
<th:block th:replace="/Home :: navlinks">...</th:block>
<!--Sticky Icons-->
<th:block th:replace="/Home :: importIcons">...</th:block>
<!--End of sticky icons-->

<!--Contents-->
<h2 class="IntroText">Java Exception</h2>
<div class="container">
    <p class="jumbotron">An exception (or exceptional event) is a problem that arises during the
        execution of a program. When
        an Exception occurs the normal flow of the program is disrupted and the program/Application terminates
        abnormally,
        which is not recommended, therefore, these exceptions are to be handled.
    </p>
</div>

<hr>
<br>
<!--carousel-->
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/c_scale,h_1080,w_1920/v1562863740/exception-hierarchy-in-java_seefed.png"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562853432/ExceptionJava_svhsqv.png"
                     class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<hr>
<br>

</body>
</html>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <th:block th:fragment="importBS">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Oswald&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </th:block>
    <!--<link rel="stylesheet" type="text/css" href="/homeDecorate.css">-->

    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #more {
            display: none;
        }
    </style>

<!--Nav Bar-->
<th:block th:fragment="navlinks">
    <nav class="navbar navbar-light"
         style="background-color: #e3f2fd; font-family: 'Oswald', sans-serif; font-size: 24px">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8080">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/about">About the Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/profile">Blog Authors</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </nav>
    <br>
</th:block>
<!--End of Nav Bar-->

<!--Sticky Social Icons-->
<th:block th:fragment="importIcons">
    <!-- Load font awesome icons -->
    <link rel="stylesheet" type="text/css" href="/stickyIcons.css">

    <!-- The social media icon bar -->
    <div class="icon-bar">
        <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://myaccount.google.com/intro?utm_source=OGB&tab=wk0&utm_medium=app" class="google"><i
                class="fa fa-google"></i></a>
        <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
</th:block>

<!--Content-->
<div class="container">

    <h1 style="font-family: 'Oswald', sans-serif; font-size: 50px; text-align: center">Welcome</h1>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Core Java</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Java Exception</h5>
                <p class="card-text">An exception (or exceptional event) is a problem that arises during the execution
                    of a program. When an Exception occurs the normal flow of the program is disrupted and the
                    program/Application terminates abnormally, which is not recommended, therefore, these exceptions are
                    to be handled.</p>
                <a href="http://localhost:8080/entry1" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Java Recursion</h5>
                <p class="card-text">Recursion in java is a process in which a method calls itself continuously. A
                    method in java that calls itself is called recursive method.</p>
                <a href="http://localhost:8080/entry2" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Github</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">What is Github?</h5>
                <p class="card-text">GitHub is a website and cloud-based service that helps developers store and manage
                    their code, as well as track and control changes to their code.</p>
                <a href="http://localhost:8080/entry3" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Github vs Gitlab</h5>
                <p class="card-text">With GitLab you can set and modify people’s permissions according to their role. In
                    GitHub, you can decide if someone gets a read or write access to a repository.
                    With GitLab you can provide access to the issue tracker (for example) without giving permission to
                    the source code. This is obviously great for larger teams and enterprises with role-based
                    contributors.</p>
                <a href="http://localhost:8080/entry4" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Program Design & Algorithms</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">The Circles of Program Design</h5>
                <p class="card-text">SDLC or the Software Development Life Cycle is a process that produces software
                    with the highest quality and lowest cost in the shortest time. SDLC includes a detailed plan for how
                    to develop, alter, maintain, and replace a software system.
                    SDLC involves several distinct stages, including planning, design, building, testing, and
                    deployment. The most popular SDLC model is the Agile model.</p>
                <a href="http://localhost:8080/entry5" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Travelling Salesmen Algorithm</h5>
                <p class="card-text">The Traveling Salesman Problem (often called TSP) is a classic algorithmic problem
                    in the field of computer science and operations research[1]. It is focused on optimization. In this
                    context, better solution often means a solution that is cheaper, shorter, or faster. TSP is a
                    mathematical problem. It is most easily expressed as a graph describing the locations of a set of
                    nodes.</p>
                <a href="http://localhost:8080/entry6" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Object-Oriented Java</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Procedural and Object-Oriented Programming with Java</h5>
                <p class="card-text">Programs are made up of modules, which are parts of a program that can be coded and
                    tested separately, and then assembled to form a complete program. In procedural languages (i.e. C)
                    these modules are procedures, where a procedure is a sequence of statements. In C for example,
                    procedures are a sequence of imperative statements, such as assignments, tests, loops and
                    invocations of sub procedures. These procedures are functions, which map arguments to return
                    statements.</p>
                <a href="http://localhost:8080/entry7" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">A-PIE of Java</h5>
                <p class="card-text">Abstract-Polymorphism-Inheritance-Encapsulation.</p>
                <a href="http://localhost:8080/entry8" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>HTML/CSS/Bootstrap</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">HTML Tags</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry9" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">CSS Tag</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry10" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>
</div>
<!--End Content-->

<!--Sponsors Contents-->
<th:block th:fragment="importHomeCSS">
    <link rel="stylesheet" type="text/css" href="/homeDecorate.css">
</th:block>

<th:block th:fragment="importSponsors">
    <div class="footer">
        <h1 style="font-family: 'Oswald', sans-serif; font-size: 50px; text-align: center">Our Sponsors</h1>
        <hr class="line">
        <br>
        <div class="row">
            <div class="column">
                <img class="sponsors"
                     src="https://res.cloudinary.com/dzk3cvgwt/image/upload/c_scale,h_200,w_500/v1562939845/DOL-logo_pabph5.jpg">
            </div>
            <div class="column">
                <img class="sponsors"
                     src="https://res.cloudinary.com/dzk3cvgwt/image/upload/c_scale,h_200,w_500/v1562937980/logo_h63mng.jpg">
            </div>
        </div>
    </div>
    <!--<hr>-->
    <br>
</th:block>
<!--End Sponsors Contents-->

<!-- Site footer -->
<th:block th:fragment="importFooter">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">This page is to practice basic HTML/CSS/Bootstrap</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://localhost:8080/about">About The Bootcamp</a></li>
                        <li><a href="http://localhost:8080/profile">Contact Us</a></li>
                        <li>
                            <a href="https://www.google.com/maps/dir//12+South+Summit+Avenue,+Gaithersburg,+MD/@39.1410663,-77.2289152,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89b7d2d2c92add37:0x7f6da311cb6cbefb!2m2!1d-77.1938958!2d39.141005">
                                Sitemap
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                        <a href="#">Thinh Pham and David</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="alignment: right">
            <a href="#">
                <!--<button class="btn"></button>-->
                <button class="buttonUp button5">&#8593;</button>
                <!--<button class="btn " type="submit"></button>-->
            </a>
        </div>
    </footer>
</th:block>
