<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/frontend_styles.css">

<head>
    <meta charset="UTF-8">
    <title>HTML</title>
</head>
<body id="htmlbody">
    <div class="container">
        <div class="row" id="content-row">
            <div class ="col shadow-lg">
            <h1>HTML</h1>
            <hr>
                <p><b>HTML</b> stands for HyperText Markup Language. It includes the content of the page such as the writing, pictures, links, etc.
                    Each HTML element is broken up into into different elements and each one with its own unique tags represented within <b><></b>
                </p>
                <div  style="padding-top:1rem; border:2px solid black; width:50rem; padding-top:1rem; margin-left:3rem;">
                    <pre>
                        <span><</span><span>!DOCTYPE html></span>
                        <span><</span><span>html></span>
                        <span><</span><span>p>Hello world!<<span>/p></span></span>
                        <span><</span><span>/html></span>
                    </pre>
                </div>
                <br>
                <h5>Meta Tags</h5>
                <p>HTML is also used to add <b>meta information.</b> Meta data is not typically shown in the web browser. It's data <i>about</i> about the web page.
                    Some examples of meta data are the author, keywords for search engines, and how a browser should display content.</p>
                <a href="https://res.cloudinary.com/japes930/image/upload/v1562946407/13_pfmcml.png">Example of meta tag use</a>


            </div>
        </div>
    </div>





    </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>